[submodule "modules/find-up"]
	path = modules/find-up
	url = https://github.com/sindresorhus/find-up
[submodule "modules/locate-path"]
	path = modules/locate-path
	url = https://github.com/sindresorhus/locate-path
[submodule "modules/p-locate"]
	path = modules/p-locate
	url = https://github.com/sindresorhus/p-locate
[submodule "modules/yocto-queue"]
	path = modules/yocto-queue
	url = https://github.com/sindresorhus/yocto-queue
[submodule "modules/p-limit"]
	path = modules/p-limit
	url = https://github.com/sindresorhus/p-limit
[submodule "modules/path-exists"]
	path = modules/path-exists
	url = https://github.com/sindresorhus/path-exists
[submodule "modules/slash"]
	path = modules/slash
	url = https://github.com/sindresorhus/slash
[submodule "modules/globby"]
	path = modules/globby
	url = https://github.com/sindresorhus/globby
[submodule "modules/array-union"]
	path = modules/array-union
	url = https://github.com/sindresorhus/array-union
[submodule "modules/clean-stack"]
	path = modules/clean-stack
	url = https://github.com/sindresorhus/clean-stack
[submodule "modules/escape-string-regexp"]
	path = modules/escape-string-regexp
	url = https://github.com/sindresorhus/escape-string-regexp
[submodule "modules/escape-goat"]
	path = modules/escape-goat
	url = https://github.com/sindresorhus/escape-goat
[submodule "modules/lowercase-keys"]
	path = modules/lowercase-keys
	url = https://github.com/sindresorhus/lowercase-keys
[submodule "modules/dot-prop"]
	path = modules/dot-prop
	url = https://github.com/sindresorhus/dot-prop
